.container{
 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.imagenes img{
    width: 20%;
    border: solid black 2px;
}

.inputs{
    width: 55%;
    display: flex;
    justify-content: space-between;
}